body {
    background: #17191C;
    font-family: "Open Sans", sans-serif;
    color: #060606;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: graycale;
    background-color: #17191C;
}

a {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.main-page-wrapper {
    background: url(img/background-imgs/hero.png) center top no-repeat, url(img/background-imgs/bottom-pic.png) center bottom 100px no-repeat;

}

.container {
    position: relative;
    margin: 0 auto;
    min-width: 1142px;
    max-width: 1142px;
}

.header {
    height: 129px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;
}

.logo {
    display: block;
    position: absolute;
    left: 0px;
    top: 21px;
}

.footer-container .logo {
    display: block;
    position: absolute;
    left: 1px;
    top: 43px;
}

.menu {
    position: absolute;
    top: 38px;
    left: 440px;
}

.footer .menu {
    top: 58px;
    left: 330px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu.item:last-child {
    margin: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    position: absolute;
    left: 951px;
    top: 26.64px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 8px;
    line-height: 35px;
    display: flex;
    align-items: center
}

.footer-container .contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 35px;
    margin-top: 38px;
}

.contacts__phone:hover {
    color: #FF3D00;
}

.contacts__info {
    position: absolute;
    top: 29px;
    left: 92px;
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.footer .contacts__info {
    display: inline;
    left: 28px;
    top: 18px;
    text-decoration: none;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
}

.hero-introduction {
    position: relative;
    min-height: 668px;
    min-width: 1142px;
    margin: 0 auto;
}

.hero-introduction__title {
    position: relative;
    display: block;
    width: 776px;
    height: 197px;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 99px 183px 10px;
}

.hero-introduction__text {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 18px 375px 40px;
}

.hero-inroduction__button {
    position: relative;
    display: block;
    background: #FF3D00;
    border-radius: 35px;
    padding: 18px 55px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 42px 473px 37px;
}

.offers {
    position: relative;
    display: block;
    max-width: 1128px;
    max-height: 479px;
    margin: 0 auto;
    margin-top: -91px;
    margin-bottom: 160px;
}

.offers__item {
    position: relative;
    display: inline-block;
    width: 361px;
    min-height: 479px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 24px;
    contain: layout;
}

.offers__item.offers__item--active {
    border: 5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    contain: layout;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__pic {
    position: relative;
    margin-bottom: 13px;
    padding: 40px 30px 0px;
    width: 136px;
    height: 117px;
}

.offers__content {
    padding: 10px 22px;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
}

.offers__features {
    display: inline-block;
    vertical-align: top;
    width: 123px;
    margin-right: 55px;
    margin-bottom: 27px;
}

.offers__features:last-child {
    margin-right: 0px;
}

.offers__people {
    font-weight: 700;
}

.offers__work {
    font-weight: 700;
}

.offers__text {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 27px;
}

.offers__button {
    position: absolute;
    background: #fff;
    border-color: #FF5500;
    border-radius: 35px;
    border: 1px solid #FF5500;
    padding: 18px 54px;
    color: #FF5500;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 1px 1px;

}

.offers__button.offers__button--active {
    background: #FF5500;
    color: #fff;
}

.offers__button.offers__button--hover:hover {
    background: #FF5500;
    color: #fff;
}

.news {
    position: relative;
    display: block;
    max-width: 1128px;
    max-height: 479px;
    margin: 0 auto;
    margin-bottom: 92px;
}

.news__title {
    position: relative;
    color: #fff;
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 51px;
}

.news__item {
    position: relative;
    display: inline-block;
    width: 536px;
    min-height: 376px;
    background: #000000;
    margin-right: 19px;
    vertical-align: top;
    contain: content;
    border: 1px solid #000000;
}

.news__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__desc {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #fff;
    padding: 8px 26px;
}

.news__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

}

.news__text {
    font-size: 16px;
    line-height: 21px;
    margin-top: 9px;
    margin-bottom: 11px;
}

.pagination {
    text-align: center;
    margin-top: 53px;
}

.pagination__info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    color: #fff;
}

.pagination__list {
    display: inline-block;
    vertical-align: middle;
}

.pagination__item {
    display: inline-block;
    vertical-align: middle;
}

.pagination__item--active .pagination__link {
    background: #FF5500;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination__link:hover {
    background: #FF5500;
}

.about {
    margin-bottom: 53px;
}

.about__back-pic {
    position: absolute;
    margin-top: 141px;
    margin-left: -5px;
}

.about__content {
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    padding: 71px 81px;
    width: 785px;
    height: 455px;
    margin-top: 236px;
    margin-left: 349px;
    border-radius: 5px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.about__text {
    margin-bottom: 43px;
    width: 502px;
    line-height: 27px;
}

.about__text p {
    margin-bottom: 20px;
    width: 500px;
}

.about__text p:last-child {
    margin-bottom: 42px;
}

.about__button.button--link {
    position: absolute;
    background: #FF5500;
    border-radius: 35px;
    padding: 17px 39px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0px 1px;
}

.footer {
    height: 146px;
    position: relative;
}

.border {
    mix-blend-mode: normal;
    opacity: 0.3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top: 1px solid #000000;
}

.socials {
    top: 49px;
    bottom: 60px;
    left: 704px;
    position: absolute;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__link.socials__link--tg {
    background-image: url(img/socials-logo/tg.png);
}

.socials__link--tg:hover {
    background-image: url(img/socials-logo/tg-hover.png);
}

.socials__link.socials__link--vk {
    background-image: url(img/socials-logo/vk.png);
}

.socials__link--vk:hover {
    background-image: url(img/socials-logo/vk-hover.png);
}

.socials__link.socials__link--fb {
    background-image: url(img/socials-logo/fb.png);
}

.socials__link--fb:hover {
    background-image: url(img/socials-logo/fb-hover.png);
}

.socials__link.socials__link--ig {
    background-image: url(img/socials-logo/ig.png);
}

.socials__link--ig:hover {
    background-image: url(img/socials-logo/ig-hover.png);
}