body,
html {
    height: 100%;
}

body {
    background: #17191C;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #060606;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: graycale;
    background-color: #17191C;
}

a {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.wrapper {
    overflow: hidden;
    flex-direction: column;
    min-height: 100%;
    min-width: 1200px;
}

.main-page-wrapper {
    background: url(img/background-imgs/hero.png) center top no-repeat, url(img/background-imgs/bottom-pic.png) center bottom 100px no-repeat;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}

.container__news {
    flex-direction: column;
}

.container__about {
    flex-direction: column;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services__container {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1168px;
    flex: 1;
    justify-content: space-between;
    flex-flow: row wrap;
}

.header {
    padding-top: 21px;
    display: flex;
    margin-bottom: 106px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col.align--left {
    justify-content: flex-start;
}

.header__col.align--right {
    justify-content: flex-end;
}

.menu {
    position: relative;
}

.menu__item {
    margin-right: 13px;
    padding: 20px 24px 15px 18px;
}

.menu__item--active .menu__link {
    color: #FF3D00;
}

.menu__item:last-child {
    margin: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #FF3D00;
}

.contacts {
    font-style: normal;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: right;
    margin-top: 6px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -7px;
    line-height: 35px;
    display: flex;
    align-items: center
}

.contacts__phone:hover {
    color: #FF3D00;
}

.contacts__info {
    font-size: 13px;
    text-decoration: underline;
    color: #FF3D00;
}

.hero-introduction {
    position: relative;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 245px;
}

.hero-introduction__title {
    position: relative;
    display: block;
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 17.5px;
}

.hero-introduction__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 43.5px;
}

.hero-inroduction__button {
    background: #FF3D00;
    border-radius: 35px;
    padding: 18px 55px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.offers {
    margin-bottom: 168px;
    display: flex;
}

.offers__list {
    justify-content: space-between;
}

.offers__item {
    width: calc(100% / 3 - 18px);
    background: #FFFFFF;
    padding: 34px 19px 47px 23px;
    border-radius: 5px;
    vertical-align: top;
    border: 5px solid #fff;
    border-radius: 5px;
}

.offers__item.offers__item--active {
    border: 5px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: top;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__pic {
    position: relative;
    display: block;
    margin-left: 7px;
    margin-bottom: 25px;
    max-width: 100%;
}

.offers__pic-wrap {
    width: 84px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.offers__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 17px;
}

.offers__conditions {
    margin-bottom: 24px;
}

.offers__features {
    display: inline-block;
    vertical-align: top;
    width: 123px;
    margin-right: 55px;
}

.offers__features:last-child {
    margin-right: 0px;
}

.offers__people {
    font-weight: 700;
}

.offers__work {
    font-weight: 700;
}

.offers__text {
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 27px;
}

.offers__button {
    display: inline-block;
    background: #fff;
    border-color: #FF5500;
    border-radius: 35px;
    border: 1px solid #FF5500;
    padding: 18px 55px;
    color: #FF5500;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.offers__button.offers__button--active {
    background: #FF5500;
    color: #fff;
}

.offers__button.offers__button--hover:hover {
    background: #FF5500;
    color: #fff;
}

.news {
    margin-bottom: 134px;
    display: flex;
    justify-content: space-between;
}

.news__title {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 51px;
}

.news__list {
    justify-content: space-between;
}

.news__item {
    height: 394px;
    flex: 1;
    margin-right: 2%;
    background: #000000;
    margin-bottom: 51px;
    vertical-align: top;
    contain: content;
    border: 1px solid #000000;
}

.news__item:last-child {
    margin-right: 0;
}

.news__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__desc {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #fff;
    padding: 0px 35px 10px 29px;
}

.news__date {
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 11.5px;
}

.news__subtitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 4px;
}

.news__text {
    font-size: 16px;
}

.pagination {
    text-align: center;
    justify-content: center;
    display: flex;
}

.pagination__info {
    justify-content: center;
    padding: 5px 25px 0px 32px;
    color: #fff;
}

.pagination__list {
    display: inline-flex;
    vertical-align: middle;
}

.pagination__item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 5px;
}

.pagination__item--active .pagination__link {
    background: #FF5500;
}

.pagination__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.pagination__link:hover {
    background: #FF5500;
}

.about {
    display: flex;
    margin-bottom: 53px;
}

.about__container {
    padding-top: 97px;
}

.about__back-pic {
    position: absolute;
    top: 0;
    left: 0;
}

.about__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #FFFFFF;
    padding: 73px 80px 63px;
    width: 785px;
    border-radius: 5px;
    margin-left: auto;
    margin-top: 97px;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.about__text {
    width: 502px;
    line-height: 27px;
}

.about__text p {
    margin-bottom: 20px;
    width: 500px;
}

.about__text p:last-child {
    margin-bottom: 44px;
}

.about__button.button--link {
    display: inline-flex;
    background: #FF5500;
    border-radius: 35px;
    padding: 17px 39px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer {
    display: flex;
    margin: auto;
}

.footer__content {
    height: 92.64px;
    border-top: solid 1px #000000;
    margin-bottom: 57.6px;
}

.footer__col {
    display: inline-flex;
    justify-content: space-between;
    min-width: 567px;
    align-items: center;
}

.footer__col--left {
    flex: 1;
    display: inline-flex;
    align-items: flex-start;
    margin-top: 40px;
}

.footer__col--right {
    flex: 1;
    display: inline-flex;
    align-items: flex-end;
    align-self: flex-start;
    margin-top: 40px;
}

.footer__menu {
    margin: 1px 0px 4px 111px;
}

.footer__info {
    text-decoration: none;
    line-height: 22px;
    color: #9A9A9A;
    font-size: 11px;
}

.socials {
    margin: 10px 38px 7px 132px;
}

.socials__item {
    margin-right: 10px;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__link.socials__link--tg {
    background-image: url(img/socials-logo/tg.png);
}

.socials__link--tg:hover {
    background-image: url(img/socials-logo/tg-hover.png);
}

.socials__link.socials__link--vk {
    background-image: url(img/socials-logo/vk.png);
}

.socials__link--vk:hover {
    background-image: url(img/socials-logo/vk-hover.png);
}

.socials__link.socials__link--fb {
    background-image: url(img/socials-logo/fb.png);
}

.socials__link--fb:hover {
    background-image: url(img/socials-logo/fb-hover.png);
}

.socials__link.socials__link--ig {
    background-image: url(img/socials-logo/ig.png);
}

.socials__link--ig:hover {
    background-image: url(img/socials-logo/ig-hover.png);
}

/* services page */

.top-line {
    min-height: 416px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 27px;
    background: #ffffff url(img/background-imgs/top-line.png) center top no-repeat;
}

.container__top-line {
    flex: 1;
    flex-direction: column;
}

.container__services {
    flex-flow: wrap;
}

.header.top-line__header {
    margin-bottom: 44px;
}

.services__title {
    font-weight: bold;
    font-size: 72px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
}

.breadcrumbs {
    margin: 8px 0px -9px 0px;
}

.breadcrumbs__item {
    display: flex;
    align-items: center;
}

.breadcrumbs__item:after {
    content: "/";
    margin: 5px;
    color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
    display: none;
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link {
    font-weight: 700;
}

.breadcrumbs__link:hover {
    font-weight: 700;
}

.breadcrumbs__link {
    color: #9A9A9A;
    font-size: 14px;
}

.page-content {
    background: #ffffff;
    color: #303030;
}

.services {
    flex-flow: wrap;
}

.services__item {
    display: flex;
    margin-top: 98px;
    margin-bottom: 49px;
}

.services__item:last-child {
    margin-top: 0px;
}

.services__img {
    display: contents;
}

.services__content {
    color: #303030;
    padding: 13px 0px 11px 58px;
}

.services__subtitle {
    font-size: 36px;
    font-weight: bold;
    line-height: 49px;
    margin-bottom: 28.5px;
}

.services__desc {
    line-height: 27px;
    margin-bottom: 33.5px;
}

.services__button:hover {
    background: #FF5500;
    color: #ffffff;
}

.services__pagination {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-bottom: 84px;
}

.pagination__services--info {
    color: #000000;
}

.services__pag--link:hover {
    color: #FFFFFF;
}

.services__pag--link {
    color: #000000;
}

.pag__link--active {
    background: #FF5300;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #ffffff;
}

.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 88px 0;
    height: 537px;
}

.inner-section--bg--smog {
    background: #F4F5F5;
}

.inner-section__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    margin-bottom: 73px;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin: 148px 0px 0px -267px;
}

.partners__item {
    margin-right: 82px;
    margin-bottom: 78px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 206px;
    height: 73px;
    align-items: center;
    justify-content: center;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0%);
}

.inner-footer__logo .logo__pic {
    max-width: 130%;
    margin: auto;
}

.inner-footer__menu {
    margin-right: -46px;
}

.inner-footer__col--left {
    margin-bottom: 30px;
}

.inner-footer__col--right {
    margin-bottom: 30px;
}
